//=============================================================================
// Variable styles
//=============================================================================

// Font Colors

$highlight-color: #f5873d;

$font-url--google: 'http://fonts.googleapis.com/css?family=Roboto';

$font-family--primary: 'Roboto', Helvetica, sans-serif;


$base__font-size: 16px;
$base__line: 24px;

//media query Mixin variables

$break: 769px;
